body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("./sprites/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  
  .loginContainer {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    background-color: rgb(51, 51, 51,0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  }
  
  h2 {
    text-align: center;
    color: rgba(244, 239, 244, 0.5);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: rgb(240, 248, 255 , 0.2);
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #0b0b0b;
  }
  input::placeholder { /* Most modern browsers support this now. */
    color:    rgb(12, 12, 12);
 }
  input:focus {
    border-color: #3498db;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  